*{
    background-color: #607D8B;
    font: #FFFFFF;
}

#spacebar {
    border-radius: 21px;
}

#r-letter {
    border-radius: 50px;
}

#d-letter {
    border-radius: 50px;
}

#contenedor {
 display: flex;
 align-items: center;
 justify-content: center;
 
}
.inst{
    padding: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;

}

#titulo{
    text-align: center;
}

.botonIn{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.textIn{
    margin-left: 20px;
}